/* pages/login.wxss */
page{
  width:100%;
  height:100%;
  background:#64CBFF;
  overflow:hidden;
}
.login-wrap{
  width:100%;
  height:100%;
}
.login-box{
  width:90%;
  height:70%;
  background:#fff;
  margin:20px auto;
  border-radius:10px;
}
.header-wrap{
  width:100%;
  height:45px;
  /* padding:0 15px;  */
  display:flex;
  justify-content: space-between;
  align-items:center;
  border-bottom:1px solid skyblue;
  color:#fff;
}
.logo{
  width:90%;
  height:60px;
  margin-top:30px;
}
.inp{
  display:flex;
  width:90%;
  height:30px;
  line-height:30px;
  border:1px solid #ccc;
  border-radius:25px;
  margin:20px;
  font-size:12px;
}
.btn{
  width:90%;
  height:30px;
  line-height:30px;
  border:1px solid #ccc;
  border-radius:25px;
  margin-top:20px;
  font-size:12px;
  background:#349BFF;
  color:#fff;
}
.inp input{
  width:90%;
  padding-top:5px;
}
.inp .codeInp{
  width:60%;
}
.inp span{
  color:#64CBFF;
}
.protocol{
  width:90%;
  height:30px;
  line-height:30px;
  font-size:12px;
  margin-left:8%;
  padding:10px 0;
}
.protocol span{
  color:#64CBFF;
}
image{
  width:16px;
  height:24px;
  padding:3px 10px;
}
.msg{
  width:100%;
  height:30px;
}
.msgContent{
  display:flex;
  align-items:center; 
  width:100%;
  height:30px;
  padding: 0 30px; 
  color:red;
}
.msgContent image{
  width:18px;
  height:18px;
}
