<view class='box'>
  <text class='text'>合同明细</text>
  <view class='show'>
    <view class='th'>
      <view>Stage1</view>
      <view>学杂费</view>
    </view>
    <view class='zi'>
      <view>*128课时</view>
      <view>*1</view>
    </view>
    <view class='tr'>
      <view>￥15880.00</view>
      <view>￥600.00</view>
    </view>
  </view>
  <view class='money'>
    <view class='left'><icon type="success"></icon>多年报优惠</view>
    <view class='right'>-￥2694.00</view>
  </view>
 
<view  class='statistics'>
   <view>
     <view>总计：￥31670.00</view>
     <view>优惠：￥5388.00</view>
   </view>
   <view>
    实付：<span>￥27572.00</span>
   </view>
</view>
<text class='text'>合同消息</text>
<view class='info'>
  <view><div>合同编号</div>   2125699</view>
   <view><div>学员姓名</div>  张静涵</view>
   <view><div>教学中心</div>  北京西北河</view>
   <view><div>签订时间：</div>2  017-01-01 18:00:08</view>
</view>
<view class='tiao'>
   <view>下载合同</view>
   <view>申请发票</view>
</view>
</view>