/**index.wxss**/
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}
.section{
  display: block;
  text-align: center;
}
.span{
  width: 100%;
  display: inline-block; 
  text-align: center;
}
form{
  width:96vw;
  line-height: 10vh;
  background: #CCC;
  margin-top:-15vh;
  height: 50vh;
  border-radius: .6rem;
  
}
p{
  display: flex;
  align-items: center;
  width:82vw;
   margin-top: 2vh;
   margin-left: 7vw;
   border-radius: 1rem;  
   border:1px solid #CCC;
   height: 5vh;
}
p>span{
  margin-left: 5vw;
  margin-right: 3vw;
}
input{
  width: 50vw;
}
button{
  width: 60vw;
  margin-top: 2vh;
}