page{
  background: #F9F8FE ;
}
.top{
  height:150px;
  width:100%;
  background: #349BFF;
}
text{
 line-height: 30px;
}
.box{
  background: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top:20px;
  left:20px;
  right:20px;
  padding:20px;
  font-size: 14px;
  border-radius:10px;
}
.info{
  color:#C2C2C2;
}
.line{
  border-top:2px solid #eee;
}
button{
  background: #349BFF;
  color:#fff;
  border-radius:15px;
  line-height: 30px;
  height:30px; 
  width:100%;
  font-size:14px;
  border:none;
}
  